apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: labello
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  rules:
    - host: labello.chaosdorf.space
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: labello
                port:
                  number: 80
  tls:
    - hosts:
        - labello.chaosdorf.space
      secretName: ingress-tls
