apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ping-exporter
resources:
  - helm-release.yaml
  - helm-repository.yaml
  - namespace.yaml
  - servicemonitor.yaml
configMapGenerator:
  - name: dashboard-up
    files:
      - dashboard-up.json
generatorOptions:
  disableNameSuffixHash: true
  labels:
    grafana_dashboard: 'true'
