apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: snowflake
resources:
  - helm-release.yaml
  - helm-repository.yaml
  - namespace.yaml
configMapGenerator:
  - name: dashboard
    files:
      - dashboard.json
generatorOptions:
  disableNameSuffixHash: true
  labels:
    grafana_dashboard: 'true'
