apiVersion: v1
kind: Service
metadata:
  name: zigbee
  labels:
    app: zigbee
spec:
  ports:
    - name: web
      port: 80
      protocol: TCP
      targetPort: 80
    - name: metrics
      port: 9100
      protocol: TCP
      targetPort: 9100
