---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prometheus-snmp-exporter
resources:
  - helm-release.yaml
  - helm-repository.yaml
  - namespace.yaml
configMapGenerator:
  - name: dashboard-snmp
    files:
      - dashboard-snmp.json
generatorOptions:
  disableNameSuffixHash: true
  labels:
    grafana_dashboard: 'true'
